
CAD/~$Bar.SLDPRT
CAD/~$Drag Chain Static Mount.SLDPRT
CAD/~$Head.SLDPRT
CAD/~$Inner Mount.SLDPRT
CAD/~$MicroSwitch Outer Mount.SLDPRT
CAD/~$MicroSwitch Under Mount.SLDPRT
CAD/~$Outer Mounts.SLDPRT
CAD/~$Prototype Assembly.SLDASM
CAD/~$Slide Casing.SLDPRT
CAD/~$Bearing Fit Test Internal.SLDPRT
CAD/~$Temporary Gear Mount.SLDPRT
Purchased/McMasterCarr/~$5174T110_HT-LOAD MTL GEAR RACK--20 DEG PRESSURE ANGLE.SLDPRT
Purchased/McMasterCarr/~$5172T160_HT-LOAD MTL GEAR--20 DEG PRESSURE ANGLE.SLDPRT
Purchased/McMasterCarr/~$7779K230_MINIATURE SNAP-ACTING SWITCH.SLDPRT
